    <title><!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>标题</title>
            <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
            <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
            <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="css/cms_base.css">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">

            <script src="js/cms_base.js"></script>
            <script src="../mybbs/layui/layui.js"></script>
            <link rel="stylesheet" href="../mybbs/layui/css/layui.css">
            <script src="js/cms_index.js"></script>
            <link rel="stylesheet" href="css/cms_posts.css">
        </head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top nav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="zx.png" alt="">
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li id="myBtn"><a href="#">
                <i class="dashboard icon"></i>
            </a></li>
            <div class="mymodel">
                <ul>
                    <li>
                        <button id="btn-raw" class="ui button" style="background-color: #494f60">raw</button>
                    </li>
                    <li>
                        <button id="btn-1" class="ui orange button">orange</button>
                    </li>
                    <li>
                        <button id="btn-2" class="ui grey  button">grey</button>
                    </li>
                    <li>
                        <button id="btn-3" class="ui olive button">olive</button>
                    </li>
                    <li>
                        <button id="btn-4" class="ui green button">green</button>
                    </li>
                    <li>
                        <button id="btn-5" class="ui teal button">teal</button>
                    </li>
                    <li>
                        <button id="btn-6" class="ui blue button">blue</button>
                    </li>
                </ul>
            </div>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3175633703,3855171020&fm=27&gp=0.jpg"
                         alt=""
                         class="profile_img">
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">发布</a></li>
                    <li><a href="#">我的主页</a></li>
                    <li><a href="#">设置</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">退出</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav-sidebar">
                <li class="unfold"><a href="#">
                    <i class="dashboard icon"></i>&nbsp;&nbsp;主页
                </a></li>
                <li class="profile-li">
                    <a href="#">
                        <i class="user icon"></i>&nbsp;&nbsp;个人中心
                        <span></span></a>
                    <ul class="subnav">
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">修改邮箱</a></li>
                    </ul>
                </li>

                <li class="nav-group post-manage"><a href="#">
                    <i class="layui-icon layui-icon-list"></i>&nbsp;&nbsp;帖子管理</a></li>
                <li class="comments-manage"><a href="#">
                    <i class="talk  Outline icon"></i>&nbsp;&nbsp;评论管理</a></li>
                <li class="board-manage"><a href="#">
                    <i class="layui-icon layui-icon-templeate-1"></i>&nbsp;&nbsp;板块管理</a></li>

                <li class="###"><a href="">
                    <i class="layui-icon layui-icon-picture"></i>&nbsp;&nbsp;图片管理</a></li>

                <li class="###"><a href="">
                    <i class="layui-icon layui-icon-find-fill"></i>&nbsp;&nbsp;侧栏管理</a></li>

                <li class="###"><a href="">
                    <i class="layui-icon layui-icon-template"></i>&nbsp;&nbsp;轮播图管理</a></li>


                <li class="nav-group user-manage"><a href="#">
                    <i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;用户管理</a></li>
                <li class="role-manage"><a href="#">
                    <i class="layui-icon layui-icon-group"></i>&nbsp;&nbsp;组管理</a></li>

                <li class="nav-group cmsuser-manage"><a href="#">
                    <i class="users icon"></i>&nbsp;&nbsp;CMS用户管理</a></li>
                <li class="cmsrole-manage"><a href="#">
                    <i class="layui-icon layui-icon-username"></i>&nbsp;&nbsp;CMS组管理</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1>
                <i class="layui-icon layui-icon-list"></i>&nbsp;板块管理
            </h1>
            <div class="main_content">
                <!--具体内容盒子               -->
                <blockquote class="layui-elem-quote news_search">
                    <div class="layui-inline">
                        <a class="layui-btn linksAdd_btn" style="background-color:#5FB878">添加板块</a>
                    </div>
                    <div class="layui-inline">
                        <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
                    </div>
                </blockquote>
                <table class="layui-table">
                    <thead>
                            <tr>
                                <th>板块名称</th>
                                <th>帖子数量</th>
                                <th>添加时间</th>
                                <th>是否展示</th>
                                <th>操作</th>
                            </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>美食</td>
                            <td>21</td>
                            <td>2018-5-29</td>
                            <td>展示中</td>
                            <td>
                                <button class="layui-btn layui-btn-xs">
                                    <i class="layui-icon layui-icon-edit"></i>编辑
                                </button>
                                <button class="layui-btn layui-btn-danger  layui-btn-xs">
                                    <i class="layui-icon layui-icon-delete"></i>删除
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--具体内容盒子结束-->
            </div>
        </div>
    </div>
</div>
</body>
</html></title>
</head>
<body>

