{% from "common/_macro.html" import static %}

<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">


<script src="{{ url_for("static",filename="common/layui/layui.js") }}"></script>
<link rel="stylesheet" href="{{ url_for("static",filename="common/layui/css/layui.css") }}">
{##提示框#}
<link rel="stylesheet" href="{{ static("common/sweetalert/sweetalert.css") }}">
<script src="{{ static("common/sweetalert/sweetalert.min.js") }}"></script>
<script src="{{ static("common/sweetalert/zlalert.js") }}"></script>

<script src="{{ static("common/js/zlajax.js") }}"></script>



<link rel="stylesheet" href="{{ static("common/css/jquery.cxcolor.css") }}">
<script src="{{ static("common/js/jquery.cxcolor.js") }}"></script>
<script src="{{ static("common/js/change_theme.js") }}"></script>