{% from "common/_macro.html" import static %}

<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">

<link rel="stylesheet" href="{{ static("admin/css/cms_base.css") }}">
<script src="{{ static("admin/js/cms_base.js") }}"></script>
{#layui#}
<script src="{{ url_for("static",filename="common/layui/layui.js") }}"></script>

<link rel="stylesheet" href="{{ url_for("static",filename="common/layui/css/layui.css") }}">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{#主页#}
<link rel="stylesheet" href="{{ static("admin/css/cms_index.css") }}">







{##提示框#}
<link rel="stylesheet" href="{{ static("common/sweetalert/sweetalert.css") }}">
<script src="{{ static("common/sweetalert/sweetalert.min.js") }}"></script>
<script src="{{ static("common/sweetalert/zlalert.js") }}"></script>

<script src="{{ static("common/js/zlajax.js") }}"></script>
