.imgs-box{
    width: 100%;
}
.imgs-box ul li {
    float: left;
    width: 14%;
    height: 230px;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5%;
    position: relative;
    border-bottom: 1px solid #eee;
}
.img-name{
    margin-top: 10px;
}
.imgs-box ul li img{
    width: 100%;
    border-radius: 5%;
    height: 120px;
    box-shadow: 10px 10px 5px #9b9fb1;
    position: relative;

}
.imgs-box ul li span{
    position: absolute;
    height: 20px;
    padding-left: 10px;
    top: 100px;
    border-radius: 10%;
    color: white;
    width: 100%;
   background-color:#000000;/* IE6和部分IE7内核的浏览器(如QQ浏览器)下颜色被覆盖 */
  background-color:rgba(0,0,0,0.2);
}
.edit-btn a{color: #4558b6}
.check{margin-top: 10px}
.img-name p{width: 100%;float: left;}
.edit-btn{float: right}
.img-time{color: #676262}

/*.banner-img-box img{width: 50px;*/
    /*height: 50px;}*/
